@import "base/reset";
@import "base/typography";
@import "base/colors";
@import "layout/nav";
@import "layout/_footer";
@import "aboutpage";

body {
  background-color: #faf9f6;
}

img {
  width: 100%;
}
/*! margin and font-size under the first heading */
.mt {
  margin-top: 0.8rem;
}
@media (min-width: 700px) {
  .mt {
    font-size: 18px;
  }
}

.hero-image {
  background-image: url("../img/heroPicMobile.jpg");
  min-height: 260px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 400px) {
  .hero-image {
    background-image: url("../img/heroBig.jpg");
    height: 300px;
  }
}
@media (min-width: 500px) {
  .hero-image {
    height: 400px;
  }
}
@media (min-width: 800px) {
  .hero-image {
    height: 500px;
  }
}
@media (min-width: 1000px) {
  .hero-image {
    height: 600px;
  }
}
@media (min-width: 1500px) {
  .hero-image {
    height: 750px;
  }
}
.index-main {
  padding: 1rem;
}

.section-flower-pic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 1rem;
  margin-top: 1rem;
}

.card {
  position: relative;
  display: flex;
  cursor: pointer;
}

/*! The cards get two sections instead of one */
@media (min-width: 480px) {
  .card {
    flex: 0 1 40%;
  }
}
@media (min-width: 980px) {
  .card {
    flex: 0 1 30%;
  }
}

.center {
  opacity: 0.9;
  /* outline: 2px solid #505d49; */
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  background-color: white;
  /* background-color: #1a1a1a; */
  /* color: white; */
  transform: translate(-50%, -50%);
  padding: 0.4rem;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
}
@media (min-width: 700px) {
  .center {
    font-size: 20px;
  }
}
.border-radius-top {
  border-radius: 150px 150px 0px 0px;
}
@media (min-width: 480px) {
  .border-radius-top {
    border-radius: 100px 0px 0px 0px;
  }
}
@media (min-width: 480px) {
  .border-radius-topTwo {
    border-radius: 0px 100px 0px 0px;
  }
}
@media (min-width: 980px) {
  .border-radius-topTwo {
    border-radius: 0px 0px 0px 0px;
  }
}
@media (min-width: 980px) {
  .border-radius-topThree {
    border-radius: 0px 100px 0px 0px;
  }
}

.border-radius-btm {
  border-radius: 0px 0px 150px 150px;
}
@media (min-width: 480px) {
  .border-radius-btm {
    border-radius: 0px 0px 100px 0px;
  }
}
@media (min-width: 480px) {
  .border-radius-btmTwo {
    border-radius: 0px 0px 0px 100px;
  }
}
@media (min-width: 980px) {
  .border-radius-btmTwo {
    border-radius: 0px 0px 0px 0px;
  }
}
@media (min-width: 980px) {
  .border-radius-btmFour {
    border-radius: 0px 0px 0px 100px;
  }
}
