.product-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 4rem;

  @media (min-width: 767px) {
    display: block;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .product {
    .card-specific-product {
      @media (min-width: 776px) {
        display: flex;
        justify-content: space-between;
        max-width: 1050px;
        margin: auto;
      }
      .card-pic-box {
        min-width: 23.5rem;
        height: 23.6rem;

        @media (min-width: 776px) {
          width: 30rem;
          height: 35rem;
        }

        img {
          border-radius: 2rem 2rem 0rem 0rem;
          object-fit: cover;
          background-repeat: no-repeat;
          height: 100%;
          width: 100%;
        }
      }

      .card-content-box {
        //display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem;
        max-width: 475px;

        .text-rating-box {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1.3rem;
          .card-text-box {
            .price-product {
              padding-top: 0.3rem;
            }
          }
        }
      }
    }
    .product-count {
      text-align: right;
      padding: 0 0.5rem;
      margin-top: 2rem;
    }
  }
}
