.heading-products {
  max-width: 300px;
}
.search-box {
  display: flex;

  #search-bar {
    // .visually-hidden {
    //   clip: rect(0 0 0 0);
    //   clip-path: inset(50%);
    //   height: 1px;
    //   overflow: hidden;
    //   position: absolute;
    //   white-space: nowrap;
    //   width: 1px;
    // }
    position: relative;
    flex: 0 0 100%;
    #product-search {
      padding: 0.8rem 5rem 0.8rem 3rem;
      position: relative;
      border-radius: 100px;
      border: 1px solid #9e9e9e;
      width: 125%;
      &.focus-border {
        border: 1px solid $primary-bg;
        outline: none;
      }
    }

    #btn-search {
      position: absolute;
      left: 1rem;
      top: 0.6rem;
      border: none;
      background-color: transparent;
      color: #9e9e9e;
    }
  }
}
