.product-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  .product {
    .card-specific-product {
      .card-pic-box {
        min-width: 23.5rem;
        height: 23.6rem;

        img {
          border-radius: 2rem 2rem 0rem 0rem;
          object-fit: cover;
          background-repeat: no-repeat;
          height: 100%;
          width: 100%;
        }
      }
      .card-content-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem;

        .card-text-box {
        }
      }
    }
    .product-count {
      text-align: right;
      padding: 0 0.5rem;
    }
  }
}
