.big-btn-collapsible-box {
  margin-right: 0rem;
  @media (min-width: 767px) {
    display: flex;
    justify-content: right;
    margin-top: -15rem;
  }

  @media (min-width: 1200px) {
    margin-right: 15rem;
  }
  @media (min-width: 1400px) {
    margin-right: 20rem;
  }

  .btn-collapsible-box {
    display: flex;
    flex-wrap: wrap;
    margin: 0rem 1rem 2rem 1rem;
    @media (min-width: 767px) {
      max-width: 350px;
    }
    .p-info {
      display: none;
      @media (min-width: 767px) {
        display: block;
      }
    }

    .btn-cart {
      padding: 1rem;
      background-color: orange;
      width: 100%;
      text-align: center;
      margin: 1rem 0rem 2rem 0rem;
      color: $primary-bg;
      @media (min-width: 767px) {
        max-height: 50px;
      }
    }
  }
}
