.section-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 1045px;
  .cards-products {
    // position: relative;
    flex: 1 0 auto;
    @media (min-width: 431px) {
      max-width: 300px;
    }
    .img-box-products {
      //width: 328px;
      height: 346px;
      position: relative;

      .heart-icon {
        position: absolute;
        right: 1rem;
        top: 1.4rem;
        background-color: rgba(80, 93, 73, 0.7);
        backdrop-filter: blur(2px);
        padding: 0.2rem;
        border-radius: 4px;
      }

      img {
        border-radius: 1.875rem 1.875rem 0rem 0rem;
        height: 100%;
        object-fit: cover;
      }
    }
    .text-icon-box {
      display: flex;
      justify-content: space-between;
      margin-top: 0.5rem;
      align-items: center;

      .product-text {
      }
      .shoppingIcon {
        padding-right: 1rem;
      }
    }
  }
}
.hide {
  display: none;
}
